<div class="container__big-card">

  <div class="big-card__photo">
    <img
      [src]="photoCover"
      alt="Imagem do Card"
      height="200px">
  </div>

  <div class="big-card__title">
    <h1><a [routerLink]="['content', Id]">{{ cardTitle }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      Uma alimentação saudável é fundamental para prevenir doenças e promover o bem-estar.
       Ao optar por alimentos nutritivos, como frutas, verduras e grãos integrais, fortalecemos o corpo e melhoramos nossa qualidade de vida.
      Cuidar da alimentação é um passo importante para salvar vidas e garantir um futuro saudável.

    </p>
  </div>


</div>

