<app-menu-title>

</app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://th.bing.com/th/id/OIP.lbV9MAWh3EnKhoVcJTgU1wHaEc?w=254&h=184&c=7&r=0&o=5&dpr=1.1&pid=1.7"
      cardTitle="ALIMENTAÇÃO SAUDÁVEL SALVA VIDAS"
      cardDescription="Como melhorar sua alimentação? "
    >
    </app-big-card>
  </div>


  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Pratique atividades aeróbicas"
      photoCover="https://th.bing.com/th/id/OIP.3wNWoBHsx_az8ZsCLWIIoQHaE7?w=299&h=198&c=7&r=0&o=5&dpr=1.1&pid=1.7"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="O papel dos carboidratos na saúde"
      photoCover="https://th.bing.com/th/id/OIP.hZ6BFgkspD42ExtqPjWF3gHaE5?w=277&h=183&c=7&r=0&o=5&dpr=1.1&pid=1.7"
    >
    </app-small-card>

    <app-small-card
      Id="4"
      cardTitle="Cuidar da saúde ainda é a forma mais eficaz de evitar doenças"
      photoCover="https://th.bing.com/th/id/OIP.IN2qY6Fqi6qM-TRCGmk8RQHaDm?w=288&h=170&c=7&r=0&o=5&dpr=1.1&pid=1.7"
    >
    </app-small-card>
  </div>
</div>
